asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
django-allauth
django-crispy-forms
djangorestframework
idna
numpy
oauthlib
pandas
pycparser
PyJWT
python-dateutil
python3-openid
pytz
requests
requests-oauthlib
six
sqlparse
tzdata
urllib3
