{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<!-- <script src="https://unpkg.com/vue@3"></script> -->
<div id="app" class="row mt-4">
  <div class="row">

    <div class="col-sm-6">

      

        Start Date <input type="date" id="startdate"> &nbsp; &nbsp; &nbsp;
        End Date <input type="date" id="enddate"> &nbsp; &nbsp; &nbsp;
        <button @click="setDateFilter()">Update</button>

      

    </div>
  </div>

  <div class=" p-3">
    <h6> Total Number of records are: ${this.numberOfRecords} </h6>
    <hr />
    <div class="row mt-4">


      <div class="col-sm-8">
        <h3>
          <p class="text-center"> Breakdown by number of diagnosis </p>
        </h3>
        <canvas class="border border-dark p-3 shadow" id="diag-monthly"></canvas>
        <!-- <p>Input class="form-check-input" Number of patients graph here {{charts.diag_monthly}}</p> -->
      </div>

      <div class="col-sm-4">
        <h3>
          <p class="text-center"> Breakdown by gender </p>
        </h3>
        <canvas class="border border-dark p-3 shadow" id="gender-dist"></canvas>
      </div>


    </div>


    <div class="row mt-4">

      <div class="col-6">
        <h3>
          <p class="text-center"> Breakdown by Age </p>
        </h3>
        <div class="row">

        </div>
        <canvas class="border border-dark p-3 shadow" id="age-dist-graph"></canvas>
      </div>

      <div class="col-6">

        <h3>
          <p class="text-center"> Top 5 Symptoms </p>
        </h3>
        <div>
          <div class="dropdown">
            <button @click="myDropDownFunction()" class="dropbtn">Gender</button>
            <div id="myDropdown" class="dropdown-content">
              <button type="button" @click="setGenderFilter('default')">Default</button> <br>
              <button type="button" @click="setGenderFilter('male')">Male</button> <br>
              <button type="button" @click="setGenderFilter('female')">Female</button> <br>
              <button type="button" @click="setGenderFilter('uncategorized')">Uncategorized</button> <br>

            </div>
          </div>


          <!-- <div class="dropdown">
            <button @click="myDropDownFunction2()" class="dropbtn">Age</button>
            <div id="myDropdown2" class="dropdown-content">
              <button type="button" @click="setAgeFilter('default')">Default</button> <br>
              <button type="button" @click="setAgeFilter('0-12')">0-12</button> <br>
              <button type="button" @click="setAgeFilter('13-19')">13-19</button> <br>
              <button type="button" @click="setAgeFilter('20-28')">20-28</button> <br>
              <button type="button" @click="setAgeFilter('29-40')">29-40</button> <br>
              <button type="button" @click="setAgeFilter('40+')">40+</button> <br>
              <button type="button" @click="setAgeFilter()">Uncategorized</button> <br>


            </div>
          </div> -->
        </div>
        <canvas class="border border-dark p-3 shadow" id="freq-symptoms"></canvas>
      </div>
    </div>




    <div class="col-4">

      <div class="p-3 mb-2 bg-white text-dark">

        <div class="border border-dark p-3 shadow">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="fever" value="fever" v-model="combinationOfSymptoms">
            <label class="form-check-label" for="fever">Fever</label>
          </div>


          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="headache" value="headache"
              v-model="combinationOfSymptoms">
            <label class="form-check-label" for="headache">Headache</label>
          </div>


          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="nausea" value="nausea" v-model="combinationOfSymptoms">
            <label class="form-check-label" for="nausea">Nausea</label>
          </div>


          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="abdominalpain" value="abdominal pain"
              v-model="combinationOfSymptoms">
            <label class="form-check-label" for="abdominalpain">Abdominal Pain</label>
          </div>


          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="cough" value="cough" v-model="combinationOfSymptoms">
            <label class="form-check-label" for="cough">Cough</label>
          </div>


          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="palpitations" value="palpitations"
              v-model="combinationOfSymptoms">
            <label class="form-check-label" for="palpitations">Palpitations</label>
          </div>



          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="vomiting" value="vomiting"
              v-model="combinationOfSymptoms">
            <label class="form-check-label" for="vomiting">Vomiting</label>
          </div>


          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="sweating" value="sweating"
              v-model="combinationOfSymptoms">
            <label class="form-check-label" for="sweating">Sweating</label>
          </div>


          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="anxiety" value="anxiety"
              v-model="combinationOfSymptoms">
            <label class="form-check-label" for="anxiety">Anxiety</label>
          </div>


          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="irregularperiods" value="irregular periods"
              v-model="combinationOfSymptoms">
            <label class="form-check-label" for="irregularperiods">Irregular periods</label>
          </div>


          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="hypertension" value="hypertension"
              v-model="combinationOfSymptoms">
            <label class="form-check-label" for="hypertension">Hypertension</label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="chestpain" value="chest pain"
              v-model="combinationOfSymptoms">
            <label class="form-check-label" for="chestpain">Chest pain</label>
          </div>

          <button type="button" class="btn btn-dark mt-3" @click="combinationTrend()">Update Graph</button>

        </div>

      </div>

    </div>

    <div class="col-8">
      <h4> Select Symptoms on the left to find their collective trend</h4>

      <canvas class="border border-dark p-3 shadow" id="combo-chart"></canvas>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="bg-white text-dark border border-dark p-3 m-3">

          <h4 class=" p-1">
            Matches for "${searchText1}"
          </h4>
          <div class="form-group">

            <label for="search1">Search New Term</label>
            <input name='search1' type="text" class="form-control border border-dark border-2"
              placeholder="Search a string to populate graph" v-model.lazy="searchText1" style="width: 300px;">
          </div>

          <button class="btn btn-dark btn-sm mt-3" @click="matchingSearch(searchText1)">Update Graph</button>
          <br>
          <small style="font-size: 10px;">
          </small>
          <canvas id="search-chart-1"></canvas>
        </div>

      </div>
      <div class="col-6">
        <div class="bg-white text-dark border border-dark p-3 m-3">

          <h4 class=" p-1">
            Matches for "${searchText2}"
          </h4>
          <div class="form-group">

            <label for="search2">Search New Term</label>
            <input name='search2' type="text" class="form-control border border-dark border-2"
              placeholder="Search a string to populate graph" v-model.lazy="searchText2" style="width: 300px;">
          </div>

          <button class="btn btn-dark btn-sm mt-3" @click="matchingSearch2(searchText2)">Update Graph</button>
          <br>
          <small style="font-size: 10px;">
          </small>
          <canvas id="search-chart-2"></canvas>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="bg-white text-dark border border-dark p-3 m-3">

          <h4 class=" p-1">
            Matches for "${searchText3}"
          </h4>
          <div class="form-group">

            <label for="search3">Search New Term</label>
            <input name='search3' type="text" class="form-control border border-dark border-2"
              placeholder="Search a string to populate graph" v-model.lazy="searchText3" style="width: 300px;">
          </div>

          <button class="btn btn-dark btn-sm mt-3" @click="matchingSearch3(searchText3)">Update Graph</button>
          <br>
          <small style="font-size: 10px;">
          </small>
          <canvas id="search-chart-3"></canvas>
        </div>

      </div>
      <div class="col-6">
        <div class="bg-white text-dark border border-dark p-3 m-3">

          <h4 class=" p-1">
            Matches for "${searchText4}"
          </h4>
          <div class="form-group">

            <label for="search4">Search New Term</label>
            <input name='search4' type="text" class="form-control border border-dark border-2"
              placeholder="Search a string to populate graph" v-model.lazy="searchText4" style="width: 300px;">
          </div>

          <button class="btn btn-dark btn-sm mt-3" @click="matchingSearch4(searchText4)">Update Graph</button>
          <br>
          <small style="font-size: 10px;">
          </small>
          <canvas id="search-chart-4"></canvas>
        </div>

      </div>
    </div>


  </div>


</div>



<script>


  var app = new Vue({
    el: '#app',
    delimiters: ['${', '}'],
    data: {

      numberOfRecords: 0,
      colorsArray: ['#6610f2', '#d63384'],
      message: 'Hello Vue!',
      combinationOfSymptoms: [],
      combinationResult: {
        label: [],
        data: []
      },
      dateFilter:{
        startDate:'',
        endDate:''
      },
      ageFilter: 'default',
      genderFilter: 'default',
      comboChart: null,
      searchText1: '',
      searchChart1: null,
      searchRes1: {
        label: [],
        data: []
      },
      searchText2: '',
      searchChart2: null,
      searchRes2: {
        label: [],
        data: []
      },
      searchText3: '',
      searchChart3: null,
      searchRes3: {
        label: [],
        data: []
      },
      searchText4: '',
      searchChart4: null,
      searchRes4: {
        label: [],
        data: []
      },
      ageDistGraph: null,
      monthlyDiagGraph: null,
      ageGraph: null,
      genderDistGraph: null,
      mostFreqGraph: null,
      colorsArray: ['#6610f2', '#d63384', '#ff9999', '#cc00ff', '#ccff99', '#33cc33', '#333399', '#66ccff']

    },
    methods: {
      myDropDownFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
      },

      myDropDownFunction2() {
        document.getElementById("myDropdown2").classList.toggle("show");
      },

      setAgeFilter(filter) {
        this.ageFilter = filter
      },
      setGenderFilter(filter) {
        this.genderFilter = filter;
        this.mostFrequent()
      },
      setDateFilter(){
        this.dateFilter.startDate = document.getElementById('startdate').value
        this.dateFilter.endDate = document.getElementById('enddate').value
        this.genderDistributionGraph()
        this.ageDistributionGraph()
        this.matchingSearch(this.searchText1)
        this.matchingSearch2(this.searchText2)
        this.matchingSearch3(this.searchText3)
        this.matchingSearch4(this.searchText4)
        this.monthlyDiagnosisGraph()
        this.mostFrequent()
      },
      matchingSearch4(searchText) {
        this.searchText4 = searchText;
        if (searchText !== '') {
          axios.get('/api-search', {
            params: {
              query: searchText,
              startDate: this.dateFilter.startDate,
              endDate: this.dateFilter.endDate
            }
          }).then((res) => {
            this.searchRes4 = res.data
          }).catch(err => {
            console.log(err)
          }).then(() => {
            this.searchChart4?.destroy();

            const colorsArray = this.colorsArray

            const ctx = document.getElementById('search-chart-4').getContext('2d');
            this.searchChart4 = new Chart(ctx, {
              type: 'bar',
              data: {
                labels: this.searchRes4.label,
                datasets: [{
                  label: 'Number of records',
                  data: this.searchRes4.data,
                  backgroundColor: colorsArray,
                  borderColor: [

                  ],
                }]
              },

            })
          });
        }
        // api-search
      },
      matchingSearch3(searchText) {
        this.searchText3 = searchText;
        if (searchText !== '') {
          axios.get('/api-search', {
            params: {
              query: searchText,
              startDate: this.dateFilter.startDate,
              endDate: this.dateFilter.endDate
            }
          }).then((res) => {
            this.searchRes3 = res.data
          }).catch(err => {
            console.log(err)
          }).then(() => {
            this.searchChart3?.destroy();

            const colorsArray = this.colorsArray

            const ctx = document.getElementById('search-chart-3').getContext('2d');
            this.searchChart3 = new Chart(ctx, {
              type: 'bar',
              data: {
                labels: this.searchRes3.label,
                datasets: [{
                  label: 'Number of records',
                  data: this.searchRes3.data,
                  backgroundColor: colorsArray,
                  borderColor: [

                  ],
                }]
              },

            })
          });
        }
        // api-search
      },
      matchingSearch2(searchText) {
        this.searchText2 = searchText;
        if (searchText !== '') {
          axios.get('/api-search', {
            params: {
              query: searchText,
              startDate: this.dateFilter.startDate,
              endDate: this.dateFilter.endDate
            }
          }).then((res) => {
            this.searchRes2 = res.data
          }).catch(err => {
            console.log(err)
          }).then(() => {
            this.searchChart2?.destroy();

            const colorsArray = this.colorsArray

            const ctx = document.getElementById('search-chart-2').getContext('2d');
            this.searchChart2 = new Chart(ctx, {
              type: 'bar',
              data: {
                labels: this.searchRes2.label,
                datasets: [{
                  label: 'Number of records',
                  data: this.searchRes2.data,
                  backgroundColor: colorsArray,
                  borderColor: [

                  ],
                }]
              },

            })
          });
        }
        // api-search
      },
      matchingSearch(searchText) {
        this.searchText1 = searchText;
        console.log("search term= ", this.searchText1)
        if (searchText !== '') {
          axios.get('/api-search', {
            params: {
              query: searchText,
              startDate: this.dateFilter.startDate,
              endDate: this.dateFilter.endDate
            }
          }).then((res) => {
            this.searchRes1 = res.data
          }).catch(err => {
            console.log(err)
          }).then(() => {
            this.searchChart1?.destroy();

            const colorsArray = this.colorsArray

            const ctx = document.getElementById('search-chart-1').getContext('2d');
            this.searchChart1 = new Chart(ctx, {
              type: 'bar',
              data: {
                labels: this.searchRes1.label,
                datasets: [{
                  label: 'Number of records',
                  data: this.searchRes1.data,
                  backgroundColor: colorsArray,
                  borderColor: [

                  ],
                }]
              },

            })
          });
        }
        // api-search
      },
      combinationTrend() {
        const myData = this.combinationOfSymptoms
        axios.get('/api-symptoms', {
          params: {
              keys: myData,
              startDate: this.dateFilter.startDate,
              endDate: this.dateFilter.endDate
          }
        }).then((res) => {

          console.log(res)

          this.comboChart?.destroy()


          const datasets = []
          for (let i = 0; i < res.data.dataset.length; i++) {

            datasets.push({
              label: res.data.dataset[i].label,
              data: res.data.dataset[i].data,
              borderColor: this.colorsArray[i % this.colorsArray.length],
              //  backgroundColor: Utils.transparentize(borderColor, 0.5),

            })

          };

          const comboChartConfig = {

            type: 'line',
            data: {
              labels: res.data.label,
              datasets: datasets
            }

          }


          const ctx = document.getElementById('combo-chart').getContext('2d');
          this.comboChart = new Chart(ctx, comboChartConfig);
          // this.comboSymptoms.data.datasets.data = this.combinationResult.data
          // this.comboSymptoms.data.labels = this.combinationResult.labels

        })
      },

      genderDistributionGraph() {

        axios.get('gender-dist', {
            params: {
              startDate: this.dateFilter.startDate,
              endDate: this.dateFilter.endDate
            }
        }).then(res => {
          console.log("in gender response ", res)
          this.numberOfRecords = res.data.male_count + res.data.female_count + res.data.uncategorized
          const genderDistGraph = {
            type: 'pie',
            data: {
              labels: ['Male', 'Female', 'Uncategorized'],
              datasets: [
                {
                  label: 'Gender Distribution of Patients',
                  data: [res.data.male_count, res.data.female_count, res.data.uncategorized],
                  backgroundColor: this.colorsArray,
                  hoverOffset: 4

                }
              ]
            },

          }
          this.genderDistGraph?.destroy()
          let genderPieCtx = document.getElementById('gender-dist').getContext('2d');
          if (!this.genderDistGraph) {
            this.genderDistGraph?.destroy()
          }
          this.genderDistGraph = new Chart(genderPieCtx, genderDistGraph);
        })
      },

      monthlyDiagnosisGraph() {
        axios.get('monthly', {
            params: {
              startDate: this.dateFilter.startDate,
              endDate: this.dateFilter.endDate
            }
        }).then(res => {

          console.log("monthly ", res)
          const diagFreqGraph = {
            type: 'bar',
            data: {
              datasets: [{
                data: res.data.values,
                backgroundColor: this.colorsArray,
                label: 'Number of patients',
              }],
              labels: res.data.keys
            },
            options: {
              responsive: true,
              scales: {
                x: {
                  title: {
                    display: true,
                    text: 'Month'
                  }
                },
                y: {
                  title: {
                    display: true,
                    text: 'Patients'
                  },
                  ticks: {
                    // forces step size to be 50 units
                    stepSize: 1
                  }
                }

              },
            }

          };

          this.monthlyDiagGraph?.destroy()
          let monthlyCtx = document.getElementById('diag-monthly').getContext('2d');
          if (!this.monthlyDiagGraph) {
            this.monthlyDiagGraph?.destroy()
          }
          this.monthlyDiagGraph = new Chart(monthlyCtx, diagFreqGraph);


        })



      },

      ageDistributionGraph() {

        axios.get('age-dist', {
          params: {
            startDate: this.dateFilter.startDate,
              endDate: this.dateFilter.endDate
          }
        }).then(res => {

          //console.log(res)
          const ageFreqGraph = {
            type: 'bar',
            data: {
              datasets: [{
                data: res.data.data,
                backgroundColor: this.colorsArray,
                label: 'Breakdown by Age',
              }],
              labels: res.data.labels
            },
            options: {
              responsive: true,
            }
          };

          this.ageGraph?.destroy();
          let ageCtx = document.getElementById('age-dist-graph').getContext('2d');
          if (!this.ageGraph) {
            this.ageGraph?.destroy();
          }

          this.ageGraph = new Chart(ageCtx, ageFreqGraph)

        })


      },

      mostFrequent() {

        axios.get('most-freq', {
          params: {
            ageFilter: this.ageFilter,
            genderFilter: this.genderFilter,
            startDate: this.dateFilter.startDate,
            endDate: this.dateFilter.endDate
          }
        }).then(res => {

          //console.log(res);
          // Top 5 Symptoms Graph
          const mostFreqSymptoms = {
            type: 'bar',
            data: {
              datasets: [{
                data: res.data.data,
                backgroundColor: this.colorsArray,
                label: 'Num Of Diagnosis',
              }],
              labels: res.data.labels
            },
            options: {
              responsive: true,
              scales: {
                y: {
                  ticks: {
                    stepSize: 1
                  }
                }
              }
            },

          };

          this.mostFreqGraph?.destroy()
          let mostFreqCtx = document.getElementById('freq-symptoms').getContext('2d');
          if (!this.mostFreqGraph) {

            this.mostFreqGraph?.destroy()

          }

          this.mostFreqGraph = new Chart(mostFreqCtx, mostFreqSymptoms)


        })


      },

    },

    created() {

      console.log("in created")

    },

    mounted() {

      console.log("in mounted")
      console.log()
      this.genderDistributionGraph()
      this.ageDistributionGraph()
      this.matchingSearch(this.searchText1)
      this.matchingSearch2(this.searchText2)
      this.matchingSearch3(this.searchText3)
      this.matchingSearch4(this.searchText4)
      this.monthlyDiagnosisGraph()
      this.mostFrequent()

    }
  })
</script>

<!-- 
  <script>



    // Combo Graph




    window.onload = function () {
      
      
      
      // let ctx5 = document.getElementById('combo-chart').getContext('2d');

      window.myPie = new Chart(ctx, diagFreqGraph);
      window.myFreqSymptoms = new Chart(ctx4, mostFreqSymptoms)
      // window.myCombo = new Chart(ctx5, my_vue_app.comboSymptoms)
    };


  </script> -->

{% endblock %}